@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root{
    --cor0: #53B7F5;
    --cor1: #E0D855;
    --cor2: #C7BF28;
    --cor3: #F0CF33;
    --cor4: #948E1E;
    --fontTitulo: 'Bree Serif', serif;
    --fontTexto: 'Merriweather', serif;
}

*{ /* Definicoes globais para ajustar a tela depois */
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
}

main{ /* min/max width --> para responder a diferentes tamanhos de tela */
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}
main > p{
    margin: 15px 0px;
}

#buggy{
    max-width: 600px;
    display: block;
    margin: auto;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 150px; /* altura minima para ajustar em diferentes telas*/
    text-align: center;
}
header > h1{
    font-size: 3em;
    color: var(--cor0);
}
header > p{
    font-size: 1.5em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.336);
}

nav{
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.39);
    text-align: left;
}
nav >a{
    font-family: var(--fontTitulo);
    padding: 10px;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    text-decoration: none;
}
nav > a:hover{
    background-color: var(--cor0);
    transition-duration: 0.5s;
}


footer{
    background-color: var(--cor1);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

aside{
    border-radius: 10px;
    padding: 10px;
}
aside > ul{
    list-style-position: inside;
    list-style-type: '\2620\00A0';
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}

.titulo{
    font-family: var(--fontTitulo);
    padding-top: 10px;
    margin-bottom: 10px ;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.336);
}
.texto{
    font-family: var(--fontTexto);
    font-size: 1.2em;
    text-indent: 1.2em;
}

.video{
    margin: 0px -20px 5px -20px;
    padding: 15px;
    padding-bottom: 56%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}